@import 'utilities/variables';
@import 'utilities/fonts';
@import 'utilities/mixins';
@import 'utilities/placeholder';

.l-tabel-advies{
    z-index: 1;
    margin-top: -25em;   
    position: relative;
    background-color: white;
}

.l-advies-bg{
    position: relative;
    background-color: $lightgrey;
    height: 17.214em;
    z-index: -1;
    margin-top: 12em;
}

@media(max-width:768px){ 
    .l-tabel-advies{
        margin-top: -33em;   
    }

    .l-advies-bg{
        margin-top: 20em;
    }      
}

@media(max-width:576px){ 
    .l-more-advies{
        margin-top: 1em;   
    }
    
    .l-tabel-advies{
        margin-top: 0em;   
    }   
}






























