@import 'utilities/variables';
@import 'utilities/fonts';
@import 'utilities/mixins';
@import 'utilities/placeholder';

.l-info{
    margin-bottom: 3em; 
    .l-scrollbox{
        height: 25em;
        overflow: auto; 
    }
    img{
        height: 28em;
        margin-top: -3em;
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width:992px){
    .l-info{
        .l-scrollbox{
            height: 18em;
        }
        img{
            height: 100%;   
        }
    } 
}

@media(max-width:768px){  
    .l-info{
        img{
            margin-top: 2em;   
        }
    }
}