@import 'utilities/variables';
@import 'utilities/fonts';
@import 'utilities/mixins';
@import 'utilities/placeholder';

.breadcrumb{
    background-color: transparent;
    margin-top: -0.5em;
    padding-left: 0;
    a{
        color: $lightblue;
        @extend %hover;
    }
    .active{
        color: rgba($lightgrey, 0.6);   
    }
}

.l-bread-d{
    margin-top: 21em;   
}